
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-image: url(https://www.allwhitebackground.com/wp-content/uploads/7/Lexus-Wallpaper-1920x1080-11112.jpg);
  font-family: "Ubuntu", sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0;
  width: 100%;
  height: 100vh;
}
#div1{
  background-color: rgb(255 255 255 / 95%);
  margin-block-start: 80px;
  margin-left: 500px;
  float: center;
  height: 550px;
  width: 450px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: auto;
  text-align: center;
}
.title{
  margin-block-start: 40px;
  text-align: center;
}
.email{
  display: flex;
  width: 360px;
  height: 40px;
  margin-block-start: 60px;
  margin-block-end: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-indent: 22px;
  background-color: rgb(255 255 255 / 20%);
}
#password{
  margin-block-start: 20px;
   display: flex;
  width: 360px;
  height: 40px;
  margin-block-end: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-indent: 22px;
  background-color: rgb(255 255 255 / 20%);
}
.email:hover{
  transition-delay: ease-in-out 200ms;
  background-color: rgb(200 200 200 / 10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#password:hover{
  transition-delay: ease-in-out 200ms;
  background-color: rgb(200 200 200 / 10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=submit]{
  background-color: rgb(65, 64, 64);
  margin: 16px 32px;
  width : 50%;
  height: 10%;
  color: white;
  border-radius: 12px;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  border: none;
}
input[type=submit]:hover{
  transition-delay: ease-in-out 200ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#create{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
