
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-image: url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
  font-family: "Ubuntu", sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin: 0;
  width: 100%;
  height: 100vh;
}

main{
  background-color: rgb(255 255 255 / 95%);
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.title > img{
  height: 50px;
  width: 80px;
  object-fit: cover;
  object-position: center;
}
.navBar{
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(8, 2, 2)
}
.sitehead{
  font-size: 50px;
}
.navigationMenu{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 15px;
  justify-content: space-evenly;
  float: right;
}
.navBar > h1,.navBar > navigationMenu{
  margin: 10px;
}
.navigationMenu > a{
  padding: 5px 10px;
  margin-left: 10px; 
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-block;
}
.navigationMenu > a:hover{
  border-radius: 10px;
  transition: ease-in-out 400ms;
  background: rgb(65, 64, 64);
  color: white;
}
#signup{
  background-color: rgb(65, 64, 64);
  color: white;
  border-radius: 11px;
  font-weight: bold;
  text-align: center;;
  padding: 8px;
  width: 10%;
  height: 130%;
}
.body{
  display: flex;
  justify-content: center;
}
.about{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 50%;
}
